<section class="section-contact">
    <h2 id="Details">Contact Details</h2>
    <hr class="bar"/>
    <div class="social-links">
        <a href="https://www.facebook.com/">
            <div class="glyph-icon flaticon-facebook3"></div>
        </a>
        <a href="https://twitter.com/pratha271">
            <div class="fa fa-twitter-square" style="font-size:70px"></div>
        </a>
        <a href="https://github.com/prathapjaikrishna">
            <div class="glyph-icon flaticon-github"></div>
        </a>
        <a href="https://www.youtube.com">
            <div class="glyph-icon flaticon-youtube31"></div>
        </a>
    </div>
    <hr class="bar"/>
    <a href="mailto:pratha271@gmail.com" class="biglink">pratha271@gmail.com</a>
</section>
