<div class="history">
    <div class="cd-timeline-header">
        <h2 id="Experenice">Time Line</h2>
        <hr class="bar"/>
    </div>
    <section id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
                <img src="../assets/img/college.svg" alt="Picture"/>
            </div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2 class="story-heading">ಸರ್ಕಾರಿ ಪ್ರೌಢ ಶಾಲೆ, ಬಾಣಸಮುದ್ರ</h2>
                <P>Govt. School High School Banasamudra.</P>
                <span class="cd-date">1997-2007</span>
            </div>
            <!-- cd-timeline-content--><!-- cd-timeline-block-->
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie">
                <img src="../assets/img/idea14.svg" alt="College"/>
            </div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2>Pre-University </h2>
                <p>Doddi Bharthi Collge.</p>
                <span class="cd-date">2007 - 2010</span>
            </div>
            <!-- cd-timeline-content--><!-- cd-timeline-block-->
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
                <img src="../assets/img/web-programming.svg" alt="Picture"/>
            </div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2>Bachelor of Science</h2>
                <p>Sharadha Vilas College , Mysore.
                </p>
                <span class="cd-date">May 2010 - September 2013</span>
            </div>
            <!-- cd-timeline-content--><!-- cd-timeline-block-->
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location">
                <img src="../assets/img/graduate38.svg" alt="Location"/>
            </div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2>Master of Physics</h2>
                <p>University of Mysore
                </p>
                <span class="cd-date">Sept 2013 - Sept 2015</span>
            </div>
            <!-- cd-timeline-content--><!-- cd-timeline-block-->
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location">
                <img src="../assets/img/hosting.svg" alt="Location"/>
            </div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2>Professional Carrier</h2>
                <p>Assistant Manager, KGB Mandya .
                </p>
                <span class="cd-date">December 2015 - Current</span>
            </div>
            <!-- cd-timeline-content--><!-- cd-timeline-block-->
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-location">
                    <img src="../assets/img/question30.svg" alt="Location"/>
                </div>
            </div>
            <!-- cd-timeline-->
        </div>
    </section>
    <div class="cd-timeline-header"><h2></h2></div>
</div>
